/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_soles";
    src: url("../fonts/flaticon_soles.woff2") format("woff2"),
url("../fonts/flaticon_soles.woff") format("woff"),
url("../fonts/flaticon_soles.eot") format("eot"),
url("../fonts/flaticon_soles.ttf") format("ttf"),
url("../fonts/flaticon_soles.svg") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_soles !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-search:before {
    content: "\f101";
}
.flaticon-right-arrow:before {
    content: "\f102";
}
.flaticon-left-arrow:before {
    content: "\f103";
}
.flaticon-green-innovation:before {
    content: "\f104";
}
.flaticon-solar-panel:before {
    content: "\f105";
}
.flaticon-battery:before {
    content: "\f106";
}
.flaticon-check:before {
    content: "\f107";
}
.flaticon-remove:before {
    content: "\f108";
}
.flaticon-user:before {
    content: "\f109";
}
.flaticon-unread:before {
    content: "\f10a";
}
.flaticon-map:before {
    content: "\f10b";
}
.flaticon-down-arrow:before {
    content: "\f10c";
}
.flaticon-quote-left:before {
    content: "\f10d";
}
.flaticon-facebook-app-symbol:before {
    content: "\f10e";
}
.flaticon-twitter:before {
    content: "\f10f";
}
.flaticon-linkedin:before {
    content: "\f110";
}
.flaticon-behance:before {
    content: "\f111";
}
.flaticon-call:before {
    content: "\f112";
}
.flaticon-arrow-left:before {
    content: "\f113";
}
.flaticon-turn-left:before {
    content: "\f114";
}
.flaticon-left-turn:before {
    content: "\f115";
}
.flaticon-arrow-right:before {
    content: "\f116";
}
.flaticon-phone-call:before {
    content: "\f117";
}
.flaticon-phone-call-1:before {
    content: "\f118";
}
.flaticon-open-email:before {
    content: "\f119";
}
.flaticon-next:before {
    content: "\f11a";
}
.flaticon-telephone:before {
    content: "\f11b";
}
.flaticon-up-right-arrow:before {
    content: "\f11c";
}
.flaticon-play-button-arrowhead:before {
    content: "\f11d";
}
.flaticon-plus:before {
    content: "\f11e";
}
.flaticon-half-tiny-star:before {
    content: "\f11f";
}
.flaticon-favorite:before {
    content: "\f120";
}
.flaticon-next-1:before {
    content: "\f121";
}
.flaticon-plus-symbol-button:before {
    content: "\f122";
}
.flaticon-solar-cell:before {
    content: "\f123";
}
.flaticon-incentive:before {
    content: "\f124";
}
.flaticon-energy:before {
    content: "\f125";
}
.flaticon-connected-power-network:before {
    content: "\f126";
}
.flaticon-electric-station:before {
    content: "\f127";
}
.flaticon-corporate:before {
    content: "\f128";
}
.flaticon-idea:before {
    content: "\f129";
}
.flaticon-calendar:before {
    content: "\f12a";
}
.flaticon-user-1:before {
    content: "\f12b";
}
.flaticon-email:before {
    content: "\f12c";
}
.flaticon-checked:before {
    content: "\f12d";
}
.flaticon-electrician:before {
    content: "\f12e";
}
.flaticon-up-arrow:before {
    content: "\f12f";
}
.flaticon-check-mark:before {
    content: "\f130";
}
.flaticon-review:before {
    content: "\f131";
}
.flaticon-collaboration:before {
    content: "\f132";
}
.flaticon-collaboration-1:before {
    content: "\f133";
}
.flaticon-satisfaction:before {
    content: "\f134";
}
.flaticon-completed-task:before {
    content: "\f135";
}
.flaticon-plumbing:before {
    content: "\f136";
}
.flaticon-share:before {
    content: "\f137";
}
.flaticon-share-1:before {
    content: "\f138";
}
.flaticon-solar-panel-1:before {
    content: "\f139";
}
.flaticon-vimeo:before {
    content: "\f13a";
}
.flaticon-vimeo-1:before {
    content: "\f13b";
}
.flaticon-wind-energy:before {
    content: "\f13c";
}
.flaticon-solar-system:before {
    content: "\f13d";
}
.flaticon-task:before {
    content: "\f13e";
}
.flaticon-medal:before {
    content: "\f13f";
}
.flaticon-trophy:before {
    content: "\f140";
}
.flaticon-pen:before {
    content: "\f141";
}
.flaticon-down-arrow-1:before {
    content: "\f142";
}
.flaticon-solar-panel-2:before {
    content: "\f143";
}
.flaticon-solar-panel-3:before {
    content: "\f144";
}
.flaticon-house:before {
    content: "\f145";
}
.flaticon-paper-plane:before {
    content: "\f146";
}
.flaticon-sustainability:before {
    content: "\f147";
}
.flaticon-thunderbolt:before {
    content: "\f148";
}
.flaticon-house-1:before {
    content: "\f149";
}
.flaticon-idea-1:before {
    content: "\f14a";
}
.flaticon-solar-energy:before {
    content: "\f14b";
}
.flaticon-quote:before {
    content: "\f14c";
}
.flaticon-quality:before {
    content: "\f14d";
}
.flaticon-speech-bubble:before {
    content: "\f14e";
}
.flaticon-browser:before {
    content: "\f14f";
}
.flaticon-gps:before {
    content: "\f150";
}

